.main-header>.navbar {
  margin-left: 360px !important;
}

.logo, .main-sidebar {
  width: 360px !important;
}

.dropdown-span {
  margin-left: 10px;
}

.main-sidebar {
  max-height: 500px !important;
  overflow: scroll !important;
}

/*.removeAnn:before {
  font-family: 'FontAwesome';
  content:"\f00d";
  padding:0 5px 0 15px;
  display: inline;
}*/

.removeAnn {
  display: inline-block;
   margin-left: -13px;
}

.annotations {
  width: 55%;
  margin: 0 auto;
}

.annotations span {
  font-size: 21px;
}

.sidebar li {
  list-style-type: none;
}

.form-group  {
  padding-left: 0 !important;
  margin-bottom: 0px !important;
}

#file_progress {
  margin-top: 5px;
  margin-bottom: 10px !important;
}

#menu {
  padding-left: 0 !important;
}

.col-sm-12
{
  margin-top: 15px;
}

#remove {
  cursor: pointer;
}

.jstree-node {
  overflow: hidden;
}

.jstree-node:hover {
  overflow: visible;
}

#projectNotes, #siteNotes, #annotNotes {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-bottom: 2%;
  resize: none;
}

.closed-accordian::before {
  content: '';
  background-image: url('close.png');
  width: 0.7em;
  float: left;
  height: 0.7em;
  background-size: cover;
  margin-top: 0.3em;
}

.open-accordian::before {
  content: '';
  background-image: url('open.png');
  width: 0.7em;
  float: left;
  height: 0.7em;
  background-size: cover;
  margin-top: 0.3em;
}

#sidebar-column {
  margin-top: 5px !important;
  padding-left: 2px;
  padding-right: 2px;
}

#status-bar-container {
  height: 50px;
}

#species-select-file-container {
  margin-bottom: 10%;
}

#aws-upload-container {
  height: 35px;
  text-align: center;
}

#aws-upload-button {
  border: none;
  padding: 1%;
  color: black;
}

.inactive-aws-button {
  background-color: grey;
}

.active-aws-button {
  background-color: #357CA5;
}

#time-submit-warning {
  color: #d62d34;
}
