#playButton audio {
  width: 600px;
  margin-left: 29%;
}

#playButtonClip audio {
  width: 600px;
  margin-left: 23%;
}

#loadingContainer1 {
  position: relative;
}
#loadingMain {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin-top: 90px;  /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
}
#spectrogram {
  z-index: 2;
  position: relative;
}
#spectrogram.recalculating {
  z-index: 0;
}

.shiny-output-error {
  visibility: hidden;
}
.shiny-output-error:before {
  visibility: hidden;
}

#titleHeader {
  width: 400px;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100000;
  background-color: #3C8DBC;
  color: #fff;
  border-bottom: 0 solid transparent;
  position: absolute;
  font-size: 14px;
  line-height: 50px;
  font-weight: 300;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#clipInfo-container {
  background-color: white;
  box-shadow: 0px 0px 2px black;
}

.content-wrapper {
  margin-left: 360px !important;
  background-color: white;
}

label {
  margin-top: 5%;
}

#clipInfo-container label {
  margin-top: 1%;
}

/*#playButton, #pauseButton {
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  z-index: 100
}

#playButtonClip, #pauseButtonClip {
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  z-index: 100;
}

#playButtonClipZoom, #pauseButtonClipZoom {
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
}

#playButton, #playButtonClip, #playButtonClipZoom {
  background-image: url('play.png');
}

#pauseButton, #pauseButtonClip, #pauseButtonClipZoom {
  background-image: url('pause.png');
  z-index: 1001;
}*/

#spectrogram {
  width: 80%;
}

#spectrogram img{
  width: 100%;
}

#close-species-drop, #close-time-box {
  position: absolute;
  right: 0.5em;
  top: 0;
  cursor: pointer;
}

#spectro-clip-container {
  position: relative;
  margin-top: 3%;
}

#spectroClip {
  position: absolute;
  /*margin-top: 5%;*/
}

#spectroClip img {
  width: 96%; /* 96% */
}

#oscilloClip img{
  width: 95.5%; /* 95.5% */
}

#oscillo-clip-container {
  margin-top: 3%;
}

#oscilloClip {
  position: absolute;
  /*margin-top: 5%;*/
}

#clip-species-dropdown {
  position: absolute;
  padding: 0;
  left: 50%;
  margin-top: -25%;
  z-index: 1;
}

.closeButtonClip {
  float: right;
  margin-right: 5px;
}

.box.box-warning {
  border: 0px;
}

#species-dropdown-box {
  border: solid 1px #f39c12;
}

#timeMin, #timeMax, #maxFreq, #minFreq, #meanFreq, #bandwidth {
  width: 5em;
  display: inline-block;
  margin-top: 4%;
  text-align: center;
}

#timeMax {
  margin-bottom: 2%;
}

#speciesDropSubmit {
  margin-bottom: 4%;
}

.form-group .shiny-input-container {
  margin-top: 5%;
}

#species-sidebox-container {
  right: 0px;
  height: 100%;
  width: 100%;
  background: #222d32;
}

#species-sidebox  {
  position: relative;
  width: 100%;
  height: 100%;
}

#left-column-title, #enter-project-info-label, #show-tree, #species-file-upload, #complete-deployment, #right-column-title, #completedDepContainer, #select-dep-container {
  cursor: pointer;
}

#left-column-title, #right-column-title, #enter-project-info-label, #show-tree, #complete-deployment, #completedDepContainer, #select-dep-container {
  padding: 4%;
  font-size: 1.5em;
}

#project-info-container, #tree, #species-sidebox-container {
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

#tree {
  padding-top: 0;
}

/*
#species-sidebox-container {
padding-bottom: 0;
}*/

#species-file-upload {
  text-align: left;
  font-size: 1em;
  float: left;
}

#project-container, #full-project-info-container, #full-tree-container, #full-project-info-container, #completedDepContainer, #deployment-select-container {
  text-align: center;
  border: 1px solid #222D32;
}

#project-info-container {
  text-align: left;
}

#right-column-container {
  top: 0px;
  position: absolute;
  right: 0;
  width: 16.7%;
  height: 100%;
  color: white;
}

#show-species-sidebar-container {
  cursor: pointer;
  z-index: 100;
  height: 1.5em;
  /*font-size: 2em; */
  width: 1.5em;
  position: absolute;
  margin-top: 65px;
  transition: transform 0.5s ease-out;
}

#show-species-sidebar-container:hover {
  transform: scale(1.2);
}

#show-species-sidebar {
  height: 100%;
  /*font-size: 2em; */
  width: 100%;
}

.position-marker-left {
  right: 99%;
  background-image: url('close.png');
  background-size: cover;
}

.move-marker-right {
  right: 2px;
  background-image: url('open.png');
  background-size: cover;
}

section.sidebar .shiny-input-container {
  padding: 0;
}

#submit-site-complete-container {
  margin-top: 2em;
}

#submit-site-complete {
  cursor: pointer;
}

#projectInfo, #directory, #deploymentInfo, #deployment {
  font-size: 1.15em;
  border: none;
  color: white;
  padding: 0.5em;
  margin: 0.5em auto;
  text-decoration: none;
  transition: background-color ease 0.33s;
}

#projectInfo {
  margin-left: 38%;
}

#deploymentInfo {
  margin-left: 36%;
  padding-left: 5%;
  padding-right: 5%;
}

#csvFile {
  color: white;
  padding: 0.5%;
  border: none;
  background-color: #357CA5;
  margin-left: 5%;
  float: left;
}

.inactive-button {
  background-color: #757575 !important;
  color: white;
}

.active-button {
  background-color: #3C8DBC !important;
}

.btn-default:hover {
  background-color: #757575 !important;
}

#time-box-container {
  width: 100%;
  color: #222D32;
}

#secondary-time-box-container {
  background: white;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  z-index: 1000;
  text-align: left;
}

#spectro-increment-container {
  margin: 0 auto;
  margin-bottom: 1%;
  position: relative;
  width: 13em;
}

#previous-spectro-increment {
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url('left-arrow.png');
  background-size: cover;
}

#next-spectro-increment {
  margin-left: 13em;
  height: 20px;
  width: 20px;
  background-image: url('right-arrow.png');
  background-size: cover;
}

#previous-spectro-increment, #next-spectro-increment {
  cursor: pointer;
}

#directorypath, #deploymentpath {
  padding: 0px;
  color: #222D32;
  background-color: #222D32;
  border: none;
}

.unfinished-step {
  background-color: #757575;
}

.completed-step {
  background-color: #3C8DBC;
}

#navbar-title-file-name {
  position: absolute;
  font-size: 2em;
  margin-left: 50%;
  color: #fff;
}

#spectroZoomClip{
  /*margin-top: 5%;*/
}

#clipInfo-container {
  margin-top: 3%;
  min-height: 400px;
}

#site-info-container {
  text-align: left;
}

#tree {
  text-align: left;
}

textarea {
  max-width: 300px;
}

#complete-deployment {
  text-align: center;
  max-width: 85%;
  width: 15em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.15em;
  border: none;
  background: #2CA02C;
  color: #E5E5E5;
  padding: 0.5em;
  margin: 0.67em auto;
  display: block;
  text-decoration: none;
  border-radius: 1em;
  transition: background ease 0.33s;
}

#file-name-warning {
  color: #d62d34;
}

#csv-info-modal-container {
  text-align: left;
  float: left
}

#dep-name-warning, #type-name-warning {
  color: #d62d34;
}
