.content-wrapper {
  margin-left: 20% !important;
}

label {
  margin-top: 5%;
}

#playButton, #pauseButton {
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
}

#playButton {
  background-image: url('play.png');
}

#pauseButton {
  background-image: url('pause.png');
  z-index: 1001;
}

#spectrogram {
  width: 80%;
}

#spectrogram img {
  width: 100%;
}

#close-species-drop, #close-time-box {
  position: absolute;
  right: 0.5em;
  top: 0;
  cursor: pointer;
}

#spectro-clip-container {
  position: relative;
}

#spectroClip {
  position: absolute;
  margin-top: 5%;
}

#spectroClip img {
  width: 96%; /* 96% */
}

#oscilloClip img{
  width: 95.5%; /* 95.5% */
}

#oscilloClip {
  position: absolute;
  margin-top: 5%;
}

#clip-species-dropdown {
    position: absolute;
    padding: 0;
    left: 50%;
    margin-top: -25%;
    z-index: 1;
}

.closeButtonClip {
  float: right;
  margin-right: 5px;
}

.box.box-warning {
  border: 0px;
}

#species-dropdown-box {
  border: solid 1px #f39c12;
}

#timeMin, #timeMax {
  width: 50%;
  display:inline-block
}

.form-group .shiny-input-container {
  margin-top: 5%;
}

#species-sidebox-container {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 100%;
  background: #222d32;
}

#species-sidebox  {
  position: relative;
  width: 100%;
  height: 100%;
}

#left-column-title, #enter-project-info-label, #show-tree, #species-file-upload, #complete-deployment, #right-column-title {
  cursor: pointer;
}

#left-column-title, #species-file-upload, #right-column-title, #enter-project-info-label, #show-tree, #complete-deployment {
  font-size: 1.5em;
}

#right-column-container {
  top: 0px;
  position: absolute;
  right: 0;
  width: 16.7%;
  height: 100%;
  color: white;
}

#show-species-sidebar-container {
  cursor: pointer;
  z-index: 100;
  height: 1.5em;
  /*font-size: 2em; */
  width: 1.5em;
  position: absolute;
  margin-top: 65px;
  transition: transform 0.5s ease-out;
}

#show-species-sidebar-container:hover {
  transform: scale(1.2);
}

#show-species-sidebar {
  height: 100%;
  /*font-size: 2em; */
  width: 100%;
}

.position-marker-left {
  right: 99%;
  background-image: url('close.png');
  background-size: cover;
}

.move-marker-right {
  right: 2px;
  background-image: url('open.png');
  background-size: cover;
}

section.sidebar .shiny-input-container {
  padding: 0;
}

#submit-site-complete-container {
  margin-top: 2em;
}

#submit-site-complete {
  cursor: pointer;
}

#csvFile, #projectInfo, #directory, #siteInfo {
  font-size: 1.15em;
  border: none;
  color: #e5e5e5;
  padding: 0.5em;
  margin: 0.5em auto;
  text-decoration: none;
  transition: background-color ease 0.33s;
}

.inactive-button {
  background-color: #d62d34 !important;
}

.active-button {
  background-color: #2CA02C !important;
}

.btn-default:hover {
  background-color: #2CA02C !important;
}

#time-box-container {
  width: 100%;
  color: #222D32;
}

#secondary-time-box-container {
  background: white;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  z-index: 1000;
}

#spectro-increment-container {
  margin: 0 auto;
  position: relative;
  width: 20em;
}

#previous-spectro-increment {
  position: absolute;
}

#next-spectro-increment {
  margin-left: 13em;
}

#previous-spectro-increment, #next-spectro-increment {
  cursor: pointer;
}

#directorypath {
  padding: 0px;
  color: #222D32;
  background-color: #222D32;
  border: none;
}

.completed-step {
  color: #3C8DBC;
}

#navbar-title-file-name {
  position: absolute;
  font-size: 2em;
  margin-left: 50%;
  color: #fff;
}
