.sidebar li {
  list-style-type: none;
}

.form-group  {
  padding-left: 0 !important;
  margin-bottom: 0px !important;
}

#file_progress {
  margin-top: 5px;
  margin-bottom: 10px !important;
}

#menu {
	padding-left: 0 !important;
}

.col-sm-12
{
	margin-top: 15px;
}