.sidebar li {
  list-style-type: none;
}

.form-group  {
  padding-left: 0 !important;
  margin-bottom: 0px !important;
}

#file_progress {
  margin-top: 5px;
  margin-bottom: 10px !important;
}

#menu {
	padding-left: 0 !important;
}

.col-sm-12
{
	margin-top: 15px;
}

#remove {
  cursor: pointer;
}

.jstree-node {
  overflow: hidden;
}

.jstree-node:hover {
  overflow: visible;
}

#projectNotes, #siteNotes {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-bottom: 2%;
  resize: none;
}

#project-info-container {
  margin-top: 5%;
  margin-bottom: 10%;
}
